<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wiscom.hence.dao.PlaceOriginOutMapper" >
  <resultMap id="BaseResultMap" type="com.wiscom.hence.model.PlaceOriginOut" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from place_origin_out
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wiscom.hence.model.PlaceOriginOut" >
    insert into place_origin_out (ID, place, count, 
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT}, #{place,jdbcType=VARCHAR}, #{count,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wiscom.hence.model.PlaceOriginOut" >
    update place_origin_out
    set place = #{place,jdbcType=VARCHAR},
      count = #{count,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select ID, place, count, createTime, updateTime
    from place_origin_out
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, place, count, createTime, updateTime
    from place_origin_out
  </select>
</mapper>